@use '_constants';
@use '_fonts';


body {
    margin: 0;
    
    
}

.background {
    min-height: 100vh;
    width: 100%;
    background-color: #F4EBE6;
    background-image: url('/assets/img/Group\ 129.png'), url(/assets/img/Vector.png), url('/assets/img/Group\ 607.png');
    background-position: top right, bottom right, bottom left;
    background-repeat: no-repeat, no-repeat, no-repeat; 
    background-size: 50%, 50%, 40%;
}

.navbar {
    
    display: flex;
    justify-content: space-between;
    padding: 2% 10% 0 10%;

    &__menus {
    
     width: 30%;
     align-items: flex-start;
     justify-content: space-between;
     display: flex;
    }

    a {
        font-size: 16px;
        text-decoration: none;
        color: #7D8790;
        ;

        &:hover {
            color: constants.$yellow;
            
        }
    }

    &__menus--right {
        width: 20%;
        justify-content: space-between;
        align-items: flex-end;

        button {
            height: 52px;
            width: 60%;
            border-radius: 40px;
            background-color: constants.$yellow;
            color: white;
            font-size: 16px;
    }

    label {
        margin-right: 10%;
        color:#7D8790;
    }
}
}
.landing1 {
    flex-direction: row;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
}
.landing {
    min-height: 100vh;
    width: 100%;
    margin-left: 10%;
    margin-top: 7%;


 &__headers h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 58px;
    line-height: 101.8%;
    margin-top: 0;

    & span {
        color: constants.$yellow;
    }

 }
    &__subheader1 {
        margin-bottom: 0;
        font-family: 'Open Sans' ;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: constants.$yellow;  
    
}

    &__subheader2 {
        font-family: 'Open Sans' ;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
    }

    & form {
        display:flex;
        flex-direction:row;
    }
    & input {
        height: 68px;
        width: 34%;
        border: none;
        border-radius: 30px;
        
    }

    & button {
        height: 50px;
        width: 10%;
        margin-top: 0.5%;
        margin-left: -11%;
        border-radius: 30px;
        background-color: constants.$yellow;
        color: white;
    }
}

.numbers {

    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5%;
    margin: 0;

    &__header1 {
        color:#B25E21;
        
    }

    & h1 {
        font-family: 'Open Sans' ;
        font-style: normal;
        font-weight: bold;
        font-size: 56px;
        line-height: 71px;
        letter-spacing: -4px;
    }
    
    

}

.rightside {
    width: 70%;
    min-height: 100vh;
    background-image: url('/assets/img/image\ 1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    

    &__boxes {
        display: flex;
        flex-direction: row;
       justify-content: flex-end;
    }
}