@use '_constants';
@use '_fonts';

 
body {
    width: 100%;
    padding: 3%;
    
}

.navbar {
    height: 96px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0 10%;
    box-shadow: 0px 4px 8px 0px #26323814;
    box-shadow: 0px 2px 4px 0px #26323829;


    

 &__menus {
     
     margin-top: 40px;
     width: 40%;
     align-items: flex-start;
     justify-content: space-between;
     display: flex;

     
 }
 }

.navbar a {
    font-size: 18px;
    text-decoration: none;
    color: constants.$primary;

    &:hover {
        color: black;
        font-weight: bold;
    }
}
.navbar button {
    margin-top: 10px;
    height: 64px;
    width: 15%;
    border-radius: 40px;
    background-color: black;
    color: white;
    font-size: 20px;
}
.landing {
    min-height: 100vh;
    width: 100%;
    background-image: url(/assets/img/Rectangle.svg);
    background-position: top right;
    background-size: 60%;
    background-repeat: no-repeat;
    position: relative;

    &__bg-dots {
        height: 25%;
        width: 15%;
        top: 1%;
        right: 0;
        background-image: url(/assets/img/dots.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: 10;
        position: absolute;
    }
}

.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 782px;

    &__headers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

    }

    &__header {
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 57px;
        margin-bottom: 0;
    }

    &__subheader {
        color: constants.$grey;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 48px;
    
        &--monthly {
            color: constants.$primary;
            background-image: url("/assets/img/BG.png");
            background-size: 100%;
            background-position: bottom;
            background-repeat: no-repeat;
        }
    }

    &__values {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__value {
        width: 30%;
        height: 566px;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
         
        &-box {
            width: 90%;
            height: 90%;
            border-radius: 10px;
            
        }

        &:hover {
            background-image: url(/assets/img/Wiggle.png);
            background-repeat: no-repeat;
            background-position: left bottom;
            background-size: 126px;

            & .pricing__value-box {
                background-color: white;
                filter: drop-shadow(0px 8px 8px rgba(38, 50, 56, 0.12)) drop-shadow(0px 16px 24px rgba(38, 50, 56, 0.08));
            }


        }
    }
}

.mobile {
    &--on {
        display: none;
    }

}

.delivering {
    margin-top: 170px;
    
    &__headers {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }

    &__header {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 48px;
        letter-spacing: -0.5px;
        margin-bottom: 0;
        font-family: fonts.$Inter;
    }

    &__subheader {
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.25px; 
        margin-top: 15px;
    }


    &__benefits {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    &__benefit {
        width: 23%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;


    }

   

    }

    .delivering-benefit {
        &__icon {
            height: 56px;
            width: 56px;;
            border-radius: 50%;
            text-align: center;
            color: #FFEAA7;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

    
            &.red-icon {
                background-color: #E84393;
            }
    
    }

    &__header {


    }

    &__description {


    }

}


@media screen and (max-width:500px) {
    .mobile {
        &--off {
            display: none;

        }
        &--on {
            display: block;

        }
    }

    body {
        margin: 10px;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .navbar {
        padding: 0px 15px 0px 15px;
        position: relative;
        height: 72px;
    
        &__menus {
            display: none;
            &.responsive {
                position: absolute;
                top: 72px;
                left: 0;
                padding-left: 15px;
                background-color: yellow;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

            }
            
        }
    }



    .pricing {
        height: max-content;
        order: 2;



        &__headers {
            align-items: flex-start;
        }

        &__values {
            display: flex;
            flex-direction: column;

        }

        &__value {
            width: 100%;
            align-items: center;
            justify-content: center;
            margin-bottom: 24px;

            &-box {
                width: 100%;
                height: 100%;
                filter: drop-shadow(0px 8px 8px rgba(38, 50, 56, 0.12)) drop-shadow(0px 16px 24px rgba(38, 50, 56, 0.08));
                background-color: white;
                
            }
                

            &:hover {
                background: none;
                & .pricing__value-box {
                    background-color: constants.$primary;
                    filter: drop-shadow(0px 8px 8px rgba(38, 50, 56, 0.12)) drop-shadow(0px 16px 24px rgba(38, 50, 56, 0.08));
            }

        }
    }
}

.delivering {
    order: 1;

    &__benefits {
        flex-wrap: wrap;
    }

    &__benefit {
        width: 48%;
        margin-bottom: 25px;

    }
}

.delivering-benefit {
    &__icon {
        border-radius: 10px;

    }
}

}

