@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Volkhov:wght@400;700&display=swap');


body {
    margin: 0;
    font-family: 'volkhov' 'poppins'; 
}
.main-section {
    position: relative;
    width: 100%;
    height: 900px;
}

.main-section__background {
    position: absolute;
    top: 0;
    right: 0;
}
.main-section__plane-one {
    position: absolute;
    top: 161px;
    right: 607px;
}
.main-section__plane-two {
    position: absolute;
    top: 224px;
    right: 100px;
}

.main-section__traveler {
    position: absolute;
    top: 110px;
    right: 110px;
}

.navbar {
    position: absolute;
    top: 47px;
    left: 140px;
    width: 80%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 114px;
    height: 34px;
}
.navbar__link {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar__link a {
    font-family: volkhov;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-decoration: none;
    color: rgba(33, 40, 50, 1);
}
.navbar__btn {
    width: 17%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.navbar__btn :first-child {
    border: none;
    width: 44px;
    height: 22px;   
    font-family: volkhov;
    color: rgba(33, 40, 50, 1);
    font-size: 17px;
    line-height: 22px;
    font-weight: 400;
    background-color: #FFF1DA;
}
.navbar__btn :last-child {
    width: 102px;
    height: 40px;
    color: rgba(33, 40, 50, 1);
    font-family: volkhov;
    font-size: 17px;
    line-height: 22px;
    font-weight: 400;
    background-color: #FFF1DA;
    border: 1px solid black;
    border-radius: 5px;

}
.navbar__option {
    width: 4%;
}
.navbar__option-select {
    border: none;
    color: rgba(33, 40, 50, 1);
    background-color: #FFF1DA;
}
.main-section__text {
    width: 43%;
    height: 535px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 217px;
    left: 148px;
}
.main-section__text h5 {
    margin: 0;
    font-family: poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #DF6951;
}
.main-section__text h1 {
    margin: 0;
    font-family: Volkhov;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 89px;
    color: #181E4B;
}
.main-section__text-decore {
    position: absolute;
    left: 210px;
    top: 129px;
    z-index: -1;
}
.main-section__text p {
    margin: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #5E6282;
    width: 82%;
}
.main-section__text_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 379px;
}

.btn {
    width: 170px;
    height: 60px;
    background-color: #F1A501;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
    border: none;
    color: white;
}

.main-section__text_nav-icon {
    width: 52px;
    height: 52px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DF6951;
    box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
    border-radius: 50%;
}
.main-section__text_nav a {
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #686D77;
}
.main-section__text_nav-play {
    width: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services {
    display: flex;
    flex-direction: column;
    margin-left: 143px;
    margin-right: 58px;
    margin-top: 97px;
}
.services__heading {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}
.services__heading-title {
    margin: auto;
}

.services h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #5E6282;
    margin: 0;
}
.services h1 {
    font-family: Volkhov;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    color: #14183E;
    margin: 0;
}

.services__box {
    width: 190px;
    height: 227px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  
}
.services__box:hover {
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 36px;
    background-color: white;
}
.services__box-bg:hover {
    background-image: url(./img/Rectangle\ 157.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: left bottom; 
}
.services__box-bg {
    display: flex;
    cursor: pointer;
    height: 300px;
    width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services__wrapper {
    margin-top: 66px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.servicebox__img {
    width: 92px;
    height: 78px;
    background-image: url(./img/airplane.png);
    background-size: cover;
}
.services__box h3 {
    margin: 0;
}
.services__box p {
    margin: 0;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
.destination {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 123px;
    width: 100%;
}
.destination__heading {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.destination__heading p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #5E6282;
    margin: 0;
}
.destination__heading h1 {
    font-family: Volkhov;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    color: #14183E;
    margin: 0;
}
.destination__cards {
    margin-top: 64px;  
    max-width: 1102px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card {
    position: relative;
    width: 314px;
    height: 457px;
    
}
.card__bg-color {
    background-image: url(./img/Rectangle\ 14.png);
    width: 314px;
    height: 457px;
    border-radius: 24px;
}
.cards__text {
    position: absolute;   
    bottom: -2px;
    left: 78px;
    width: 236px;
    height: 130px;
    background-color: white;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}




