header {
    display:flex;
    justify-content: center;
    align-items: center;
}

p {
    color: rgb(0, 162, 255);
}
.section_first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin: auto;
}

.section_second {
    float: right;
    padding: auto;
    flex-direction: row;
}

.material-icons {
    font-size: 50px!important;
}

.material-icons:hover {
    color: rgb(0, 162, 255);
}