@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
    margin: 0;
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 20vw;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}

.logo {
    width: 20vw;
}

.navbar__actions{
    width: 45vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
}

.navbar-options a {
    font-size: 12px;
    color: #2F281E;
}

.navbar__btns{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar__btns button {
    width: 45%;
    height: 45px;
    border-radius: 5px;
    border:none;
}

.navbar__btns button:first-child{
    border: 1px solid #BCD0E5;
    background-color: white;
}

.navbar__btns button:last-child {
   color: white;
   background-color: #FF9900; 
}

.main-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-sectiom__description {
    width: 50%;
}
.main__desccription-header  {
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
}

.main-section__image {
    margin-top: 50px;
    width: 50%;
}

.main-section-get-start{
    display: flex;
    align-items: center;
}

.main-section-get-start button{
    border: none;
    height: 53px;
    color: white;
    background-color: #FF9900; 
    border-radius: 4px;
    min-width: 170px;
    font-weight: bold;
    font-size: 16px;
}

.main-section-get-start a {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.play-icon {
    color: #FF9900;
    font-size: 30px;
}

.feature-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.feature-section-features-descriptions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.feature-section-Afeature {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    text-align: left;
    width: 23%;
}

.feature-section-Afeature h4, .feature-section-Afeature p{
    margin: 0;
}

.feature-section-Afeature-icon {
    background-color: tomato;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-section-Afeature h4 {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}

.feature-section-Afeature p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.feature-section button {
    width: 175px;
    height: 53px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    border: none;
    background: #FF9900;
    border-radius: 4px;
    color: white;
    margin: auto;
}