body {
    background-color: lightblue;
    border: 24px solid white;
    margin: 0;
}

.newsletter {
    background-color: black;
    margin: 120px 90px;
    padding: 100px 30px;
    text-align: center;
    color: white;
    border-radius: 30px;
    position: relative;

}
h1 {
    color: blue;
}
#text {
    width: 200px;
    height: 25px;
    border-radius: 8px;
    margin: 20px 2px;
}
#btn {
    height: 30px;
    border-radius: 8px;
    background-color: blue;
    color: white;
}
.ikon-wrapper {
    position: absolute;
    top: -28px;
    left: 47%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: blueviolet;
}
#img {
    margin-top: 15px;
}
.circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
}