@font-face {
    font-family: 'robot';
    src: url(./Roboto-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'robot';
    src: url(./Roboto-Light.ttf);
    font-weight: 100;
}
@font-face {
    font-family: 'robot';
    src: url(./Roboto-Regular.ttf);
    font-weight: normal;
}
