.div1 {
    position: absolute;
    width: 1400px;
    height: 78px;
    left: 0px;
    top: 20px;
    }

.logopicture {
position: absolute;
width: 187px;
height: 32px;
left: 143px;
top: 22px;

}

.topnav {
    position: absolute;
    height: 28px;
    left: 46.43%;
    right: 28.57%;
    top: calc(50% - 28px/2 - 1px);
    
    
}
.topnav a {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 200% */ 
    color: #2F281E;
    text-decoration: none;

}

.button1{
    position: absolute;
    left: 73.5%;
    right: 19.21%;
    top: 19.23%;
    bottom: 21.79%;   
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #173A56; 

}

.button2 {

border: none;
position: absolute;
left: 81.79%;
right: 10.36%;
top: 19.23%;
bottom: 21.79%;
background: #FF9900;
border-radius: 4px;
color: white;
}

h1 {
    position: absolute;
width: 518px;
height: 108px;
left: 129px;
top: 219px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 44px;
line-height: 54px;
}

p {
    position: absolute;
width: 458px;
height: 95px;
left: 129px;
top: 357px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
/* or 156% */


color: #544837;
}

.button3 {
position: absolute;
width: 175px;
height: 53px;
left: 129px;
top: 497px;
background: #FF9900;
border-radius: 4px;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
color: white;
border: none;
}

.button3 :hover {
    color: violet;

}


