.logo-header {
  height: 30x;
  width: 184px;

}
.happy-people {
  width: 605px;
  height: 496px;

}

header {

  border: 1px solid #000000;
  box-sizing: border-box;
}

.navigations {
  display: inline;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;


  color: #2f281e;
}
.navigations nav {
 float: right; 
}

.login {
  color: #173a56;
  background-color: #bcd0e5;
}

.register {
  color: #ff9900;
  background-color: #ffffff;
}

#header-left-text {
  text-align: justify;
}

.header-buttons {
  display: inline;
  margin-left: 15px;
}
#header-left-btn1 {
  background-color: #ff9900;
  color: #ffffff;
}

#header-left-button2 {
  color: #ff9900;
  height: 24px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
}

.title-p2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  text-align: center;

  color: #2f281e;
}


h4 {
  color: #2f281e;
}
.features {
  display: inline;
}

.feature-item {
display: inline-block;
width: 24%;
}

.icons {
  height: 50px;
  width: 51px;
  border-radius: 0px;
}

.orange-logo {
  width: 35px;
  height: 35px;
}

.decision-making {
  width: 486px;
  height: 427px;
  line-height: 26px;
}

.image {
  width: 520px;
  height: 574px;
}

.logo-footer {
  width: 185px;
  height: 32px;

}

footer {

