.logo-header {
  /* width: 183.89px; */
  /* height: 29.92px; */
  /* left: 142.79px; */
  /* top: 20.59px; */
  height: 30x;
  width: 184px;
  /* left: 143px; */
  /* margin-top: 21px; */
}
.happy-people {
  width: 605px;
  height: 496px;
  /* left: 666px; */
  /* top: 128px; */
}

header {
  /* width: 1389px;
  height: 73px; */
  /* left: 0px;
  top: 20px; */

  border: 1px solid #000000;
  box-sizing: border-box;
}

.navigations {
  /* height: 28px; */
  /* left: 46.43%;
  right: 28.57%; */
  display: inline;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  /* identical to box height, or 200% */

  color: #2f281e;
}
.navigations nav {
 /* float: right; */
}

.login {
  /* margin-left: 81.79%;
  margin-right: 10.36%;
  margin-top: 19.23%;
  bottom: 21.79%; */
  color: #173a56;
  background-color: #bcd0e5;
}

.register {
  color: #ff9900;
  background-color: #ffffff;
  /* margin-left: 81.79%;
  margin-right: 10.36%;
  margin-top: 19.23%;
  margin-bottom: 21.79%; */
}

#header-left-text {
  /* width: 518px;
  height: 331px;
  margin-left: 145px;
  margin-top: 211px; */
  text-align: justify;
}

.header-buttons {
  /* How to align both buttons? */
  /* width: 366px;
  height: 53px;
  margin-left: 145px;
  margin-top: 489px; */
  display: inline;
  margin-left: 15px;
}
#header-left-btn1 {
  background-color: #ff9900;
  color: #ffffff;
  /* width: 175px;
  height: 53px;
  margin-left: 145px;
  margin-top: 489px; */
}

#header-left-button2 {
  color: #ff9900;
  height: 24px;
  /* margin-left: 16.15%;
  margin-right: 0%;
  margin-top: calc(50% - 24px / 2 + 0.5px); */

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
}

.title-p2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  text-align: center;

  color: #2f281e;
}


h4 {
  color: #2f281e;
}
.features {
  display: inline;
}

.feature-item {
display: inline-block;
width: 24%;
}

.icons {
  height: 50px;
  width: 51px;
  /* margin-left: 567px;
  margin-top: 162px; */
  border-radius: 0px;
}

.orange-logo {
  width: 35px;
  height: 35px;
  /* margin-left: 0px;
  margin-top: 301px; */
}

.decision-making {
  width: 486px;
  height: 427px;
  /* margin-left: 779px;
  margin-top: 2121px; */
  line-height: 26px;
}

.image {
  width: 520px;
  height: 574px;
  /* margin-left: 735px;
  margin-top: 1397px; */
}

.logo-footer {
  width: 185px;
  height: 32px;
  /* left: 173px;
  top: 3555px; */
}

footer {
  /* width: 1109px;
  height: 308px; */
  /* left: 160px;
  top: 3452px; */
}
