@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./images/Travel.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.8;
}

.form {
  background-image: url("./images/travel2.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 55vw;
  width: 60vw;
  margin: auto;
  box-shadow: 10px 5px 5px grey;
}

input {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
label {
  font-family: "roboto", sans-serif;
  font-weight: 400px;
}

button {
  width: 30%;
  display: flex;
  margin: auto;
}
