.logo {
  height: 65px;
  width: 200px;
  margin: auto;
  background-image: url("https://www.svenskakyrkan.se/bilder/spotify(3).png?DoProcessing=&w=1680");
  background-size: 100% 100%;
  background-size: cover;
  background-position: center;
}

.divider {
  width: 100vw;
  height: 2px;
  background-color: grey;
  margin-top: 40px;
  margin-bottom: 40px;
}

.header-page {
  margin: auto;
  width: max-content;
  font-size: 24px;
  font-weight: bold;
  color: green;
}

.btn-page {
  width: 40px;
  height: 30px;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}

.btn-page facebook 