.logo {
   height: 65px;
   width: 200px;
   margin: auto;
   background-image: url("https://www.svenskakyrkan.se/bilder/spotify(3).png?DoProcessing=&w=1680"); 
    background-size: cover;
    background-position: center;
}

.divider{
    width: 100vw;
    height: 2px;
    background-color: gray;
    margin-top: 40px;
    margin-bottom: 40px;
}

.header-page{
    margin: auto;
    width: max-content;
    font-size: 18px;
    font-weight: bold;
}

.btn-page{
    width: 40vw;
    height: 30px;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    margin: 10px auto;
}

.facebook {
    background-color: #3b5998;
    color: white;
    border-radius: 50px;
}

.apple{
    background-color: black;
    color: white;
    border-radius: 50px;
}

.google {
    background-color: white;
    color: black;
    border-radius: 50px;
    border: 1px solid black;
}

.label {
    width: max-content;
    margin: auto;
}