@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.logo {
    width: 30%;
    float: left;
    margin-left: 143px;
    padding-top: 5px;
}
.header {
    margin-top: 22px;
}
}
.nav {
    font-size: 14px;
    line-height: 28px;
    margin-left: 650px;
    
}
.nav>a {
    color: rgba(47, 40, 30, 1);
    text-decoration: none;
    margin-right: 10px;
}
.sign-in {
    color: rgb(23, 58,86);
    border: 1px solid rgb(188, 208, 229);
    background-color: white;
    width: 102px;
    height: 46px;
    border-radius: 5px;
    margin-left: 29px;
    margin-right: 14px;
}
.sign-up {
    color: white;
    background-color: rgb(255, 153, 0);
    width: 100px;
    height: 46px;
    border: none;
    border-radius: 5px;
}
.left-side {
    width: 458px;
    height: 233px;
    margin-left: 145px;
    margin-top: 133px;
    margin-right: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: rgba(84, 72, 55, 1);
}
.left-side>h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    color: rgba(47, 40, 30, 1);
}
p {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

}
.get-started {
    margin-left: 145px;
    margin-top: 51px;
    width: 366px;
}
.get-started>button {
    width: 175px;
    height: 53px;
    background-color: rgb(255, 153, 0);
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 30px;


}
#watchthevideo {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 153, 0, 1);
}
.header-picture {
    float: right;
    margin-right: 47px;
    margin-top: -419px;
}
.second-part {
    width: 100%;
    height: 543px;
    margin-top: 186px;
    
}
.head-title {
    text-align: center;
}
.title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    
}
.card {
    margin-top: 54px;
    width: 100%;
    max-width: 2211px;
    height: 734px;   
 }
 .card1 {
    margin-left: 141px;  
    position: absolute;
    width: 240px;
    height: 204px;
    
}
.card2 {
    position: absolute;
    width: 240px;
    height: 204px;
    margin-left: 390px;
    
    
}
.card3 {
    position: absolute;
    margin-left: 675px;
    width: 240px;
    height: 204px;

}
.card4 {
    position: absolute;
    width: 240px;
    height: 204px;
    margin-left: 959px;
}
.card-heading {

    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    margin-top: 30px;
    margin-bottom: 13px;
}
.btn {

    margin-top: 278px;
    margin-left: 45%;
    width: 175px;
    height: 53px;
    background-color: rgb(255, 153, 0);
    color: white;
    border: none;
    border-radius: 5px;
}
.effortless-validation {
    width: 1110px;
    height: 574px;
    margin: auto;
    margin-left: 145px;
    margin-top: 120px;
}
.text-product {
    width: 486px;
    margin-right: 90px;
    margin-left: auto;
    margin-top: 140px;
}
.sub-title {
   font-family: poppins;
   font-weight: 700;
   font-size: 16px;
   line-height: 26px;
   color: rgba(47, 40, 30, 1);
   margin-top: 25px;
   margin-bottom: 12px;
}
.effortless-title {
    margin-top: 3px;
    margin-bottom: 22px;
}
.effortless-picutre {
    float: right;
    margin-top: -527px;
    margin-right: 90px;
}
.checkbox {
    width: 35px;
    height: 35px;
    color: rgb(255, 153, 0);
    float: left;  
}
.product-img {
    margin-top: -400px;
    float: left;
    margin-left: 60px;
}
.marketers {
    width: 1100px;
    height: 609px;
    margin-top: 240px;
    margin-left: 147px;
}
.marketers-img {
    float: right;
    margin-right: 50px;
    margin-top: -540px;
}
.links {
    width: 1109px;
    height: 308px;
    margin-top: 146px;
}
.logo-img {
    margin-left: 143px;
    position: absolute;
}
ul {
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: rgba(84, 72, 55, 1);
}
.link-box-one {
margin-left: 370px;
position: absolute;
width: 118px;
height: 205px;
margin-top: 40px;
}
.link-box-two {
margin-left: 545px;
position: absolute;
margin-top: 40px;
}
.signup {
    position: absolute;
    margin-left: 794px;
    margin-top: 60px;
}
.place-holder {
    width: 325px;
    height: 48px;
    border-radius: 5px;
    border: 2px solid rgba(188, 208, 229, 1);
}
.last-btn {
    width: 131px;
    height: 39px;
    background-color: rgb(255, 153, 0);
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 21px;
}